DEVELOPMENT=True

POSTGRES_USER=meetify_admin
POSTGRES_PASSWORD=SOME_PASSWORD
POSTGRES_DB=meetify_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=SOME_PASSWORD

INIT_ADMIN_USERNAME=SOME_USERNAME
INIT_ADMIN_PASSWORD=SOME_PASSWORD

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
COOKIE_SECURE=True
COOKIE_SAMESITE=lax
SECRET_KEY=SOME_SECRET_KEY
ALGORITHM=HS256